##
# Dependencies:
# wget, git, colordiff
##


alias emacs="emacs -nw"
alias ne="emacs"
alias na="nano"
alias clean='find . \( -name "*~" -o -name "\#*#" \) -exec rm -v {} \;'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
 colorflag="--color"
 #colorflag="--color=auto"
 gnuflag='--group-directories-first --time-style=+"%d.%m.%Y %H:%M"'
 export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
 colorflag="-G"
 export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag} ${gnuflag}"
# List all files colorized in long format
alias ll="ls -lhF ${colorflag} ${gnuflag}"
alias la="ls -lhaF ${colorflag} ${gnuflag}"
# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias sl="ls"

alias grep="grep --color=auto -d skip"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

alias cp="cp -iv"
alias mv="mv -iv"
if [[ "$OSTYPE" == "linux-gnu" ]]; then
   alias rm="rm -Iv --preserve-root"
else
   alias rm="rm -iv"
fi
alias df="df -h"
alias du="du -h"
alias free="free -m"
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ..."

# Print each PATH entry on a separate line
alias path="echo -e ${PATH//:/\\n}"

# URL-encode strings
alias urlencode="python3 -c 'import sys; from urllib.parse import quote; sys.stdout.write(quote(sys.argv[1])) if len(sys.argv) > 1 else sys.stdout.write(quote(sys.stdin.read()))'"
alias urldecode="python3 -c 'import sys; from urllib.parse import unquote; sys.stdout.write(unquote(sys.argv[1])) if len(sys.argv) > 1 else sys.stdout.write(unquote(sys.stdin.read()))'"

# Conf files
alias zshrc="$EDITOR ~/.zshrc && source ~/.zshrc"
alias bashrc="$EDITOR ~/.bashrc && source ~/.bashrc"
alias aliases="$EDITOR ~/.aliases && source ~/.aliases"

# Git
alias pull="git pull"
alias push="git push"
alias commit="git commit -m"
alias add="git add"
alias status="git status"
alias clone="git clone"
alias glog="command git log --graph --abbrev-commit --pretty=format:'%C(yellow)%h%Creset-%C(yellow)%d%Creset%s%Cgreen(%cr)%C(blue)<%an>%Creset'"

#Network stuff
alias speedtest="wget -O /dev/null http://proof.ovh.net/files/1Gb.dat"
alias myip="wget -qO- https://ident.me"
alias clear-dns-cache="sudo resolvectl flush-caches"

# Misc
alias webcrawl="wget --limit-rate=200k --no-clobber --convert-links --random-wait -r -p -E -e robots=off -U mozilla"
alias scan="scanimage --format=tiff --resolution=800dpi> scan.tiff"