#!/usr/bin/env bash

export EDITOR='emacs -nw';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size
export HISTSIZE='1000000';
export HISTFILESIZE="${HISTSIZE}";
export HISTTIMEFORMAT="%d/%m/%Y %H:%M:%S "
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Node Version Manager
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

# Keyring Stuff
if [ -x "$(command -v keychain)" ]; then
    if [[ -z "${SSH_KEYS}" ]]; then
        KEYCHAIN_KEYS=$(find ~/.ssh -name '*.pub' | sed 's/....$//')
    else
        KEYCHAIN_KEYS=($(echo ${SSH_KEYS}))
    fi
    eval `keychain --eval --agents ssh ${KEYCHAIN_KEYS}`
fi
